# General
.DS_Store
.vscode/
.idea/
*.log

# Dependencies
node_modules/
.venv/
venv/
__pycache__/
*.pyc

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build Outputs
dist/
build/
coverage/

# Misc
japanese-output-frontend-deprecated/
japanese-output-practice-3af0779cb130.json

# Data
data/

